{% extends "base.html" %}

{% load socialaccount %}


{% block content %}


<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


<script src="https://kit.fontawesome.com/75e1a68cb8.js" crossorigin="anonymous"></script>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<br>
<br>
<br>

<div style="margin-left: 5%;width: 80%;">

    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Well done!</h4>
        <p>Aww yeah, you successfully registered your company with us.Stay relaxed our team will contact you shortly and upon complete registration,we will be your complete guide partner.</p>
        <hr>
        <p class="mb-0">We will also pormote your company by running adds or doing personal promotions.</p>
    </div>

</div>








 
  {% endblock %}
  
  
  
 